In [1]:
#Import files
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/online_sales_dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   InvoiceNo         49782 non-null  int64
 1   StockCode         49782 non-null  object
 2   Description       49782 non-null  object
 3   Quantity          49782 non-null  int64
 4   InvoiceDate       49782 non-null  object
 5   UnitPrice         49782 non-null  float64
 6   CustomerID        44804 non-null  float64
 7   Country           49782 non-null  object
 8   Discount          49782 non-null  float64
 9   PaymentMethod     49782 non-null  object
 10  ShippingCost      47293 non-null  float64
 11  Category          49782 non-null  object
 12  SalesChannel      49782 non-null  object
 13  ReturnStatus      49782 non-null  object
 14  ShipmentProvider  49782 non-null  object
 15  WarehouseLoc      46297 non-null  object
 16  OrderPriority     49782 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB

In [4]:
#Remove extra spaces in column names
df.columns = df.columns.str.strip()

In [5]:
# Check for missing values
df.isnull().sum()

InvoiceNo              0
StockCode              0
Description            0
Quantity               0
InvoiceDate            0
UnitPrice              0
CustomerID          4978
Country                0
Discount               0
PaymentMethod          0
ShippingCost        2489
Category               0
SalesChannel           0
ReturnStatus           0
ShipmentProvider       0
WarehouseLoc        3485
OrderPriority          0
dtype: int64

In [6]:
# Drop 'WarehouseLoc'
df.drop(columns=['WarehouseLoc'], inplace=True)

In [8]:
# Drop 'CustomerID'
df.drop(columns=['CustomerID'], inplace=True)

In [9]:
# Drop 'ShippingCost'
df.drop(columns=['ShippingCost'], inplace=True)

In [10]:
#Remove duplicates
df = df.drop_duplicates()

In [12]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d-%m-%Y %H:%M', errors='coerce')

In [13]:
#Save clean data
df.to_csv("cleaned_data_task_6.csv", index=False)

In [14]:
#Download cleaned csv file
from google.colab import files
files.download('cleaned_data_task_6.csv')